{{#extends 'base'}}

{{#block 'content'}}
<h1>Login</h1>
<p>Please login with your account below!</p>

<form method="POST">
{{{form}}}
<input type="submit" class="btn btn-primary" value="Login"/>
</form>
{{/block}}

{{/extends}}