{{#extends 'base'}}

{{#block 'content'}}
<h1>Register</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    <input type="submit" value="Register" class="btn btn-primary"/>
    {{/block}}
</form>

{{/extends}}