{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add Product" class="btn btn-primary"/>
    {{/block}}
</form>

{{/extends}}